.home__wrap{
  width: 100%;
}

header {
  box-sizing: border-box;
  background-image: url("../assets/images/Ellipse.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 1100px;
  margin-bottom: 0;
}

.nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 100px;
}

.nav button {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: inherit;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.nav button:hover{
  background: #1854eb;
}

.desc {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 100px auto 0;
  color: #ffffff;
}

.desc .title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 0;
}

.desc .para {
  font-weight: 450;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 24px;
  margin-bottom: 0;
}

.desc .get__started {
  width: 200px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #0c46d3;
  cursor: pointer;
}

.get__started:hover{
  background: #c1c0c0;
  border: #c1c0c0;
}

.desc a{
  width: fit-content;
  margin: 24px auto 10px;
}

main {
  box-sizing: border-box;
  width: 100%;
}

.intro__section {
  box-sizing: border-box;
  width: 100%;
  padding: 100px;
  margin-bottom: 0;
}

.dashboard {
  width: 100%;
  height: 775px;
  margin: -590px auto 0;
}

.duty__para {
  font-weight: 450;
  font-size: 25px;
  line-height: 40px;
  margin: 50px 0 0;
  color: rgba(0, 0, 0, 0.7);
}

.duty__para span {
  font-weight: 500;
  color: #070707;
}

.slider {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
}

.last__section {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 100px;
  background: #0c46d3;
  height: 970px;
  margin-top: 100px;
}

.last__section h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

.last__section p {
  font-size: 18px;
  line-height: 40px;
  font-weight: 450;
  width: 80%;
  color: #ffffff;
}

.last__section button {
  width: 200px;
  height: 60px;
  background: inherit;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.last__section button:hover{
  background: #1854eb;
}

.mobile__dashboard {
  display: flex;
  margin-top: 40px;
  margin-top: -10px;
  height: 600px;
}

.mobile__dashboard .mobile {
  width: 35%;
  height: 451px;
  margin-top: 95px;
  z-index: 2;
}

.mobile__dashboard .last__dashboard {
  width: 70%;
  height: 100%;
  margin-left: -30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 100px;
  position: absolute;
  top: 3190px;
  width: 100%;
  height: 200px;
  background: #ffffff;
  z-index: 3;
}

footer p {
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}

footer .icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}

footer .icon .icon__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0c44d330;
}

footer .icon .icon__wrap i {
  font-size: 20px;
  color: #0c46d3;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .nav button{
    width: 150px;
  }

  .desc{
    margin: 70px auto 0;
  }

  .desc .title{
    font-size: 35px;
  }

  .desc .para{
    font-size: 16px;
    margin-top: 10px;
  }

  .desc .get__started{
    width: 160px;
  }

  .dashboard{
    margin-top: -1000px;
    height: 700px;
  }

  .duty__para{
    font-size: 16px;
  }

  .last__section{
    height: 833px;
  }

  .last__section h2{
    font-size: 32px;
  }

  .last__section p{
    font-size: 15px;
  }

  .last__section button{
    width: 160px;
  }

  .mobile__dashboard{
    height: 480px;
  }

  .mobile__dashboard .mobile{
    height: 371px;
  }

  footer{
    flex-direction: column;
    justify-content: center;
    top: 2830px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 660px) {
  .nav button{
    width: 110px;
  }

  .desc .title{
    font-size: 25px;
    margin-top: -50px;
    line-height: 30px;
  }

  .desc .para{
    font-size: 14px;
    margin-top: 10px;
  }

  .desc .get__started{
    width: 120px;
  }

  .intro__section{
    margin-top: -300px;
  }

  .dashboard{
    margin-top: -1000px;
    height: 500px;
  }

  .duty__para{
    font-size: 14px;
  }

  .last__section{
    height: 623px;
  }

  .last__section h2{
    font-size: 25px;
    line-height: 35px;
  }

  .last__section p{
    font-size: 13px;
  }

  .last__section button{
    width: 120px;
  }

  .mobile__dashboard{
    height: 300px;
  }

  .mobile__dashboard .mobile{
    height: 251px;
  }

  footer{
    flex-direction: column;
    justify-content: center;
    top: 2430px;
    padding-top: 120px;
  }
}


@media screen and (max-width: 440px) {
  header{
    height: 1150px;
  }

  .nav{
    padding: 0 40px;
  }

  .nav img{
    width: 100px;
  }

  .nav button{
    width: 75px;
    height: 50px;
  }

  .desc{
    margin: 45px auto 0;
  }

  .desc .title{
    font-size: 16px;
    line-height: 25px;
  }

  .desc .para{
    font-size: 11px;
    line-height: 18px;
    margin-top: 3px;
    text-align: center;
  }

  .desc .get__started{
    width: 85px;
    height: 45px;
    font-size: 10px;
    line-height: 15px;
  }

  .desc a{
    margin: 12px auto 10px;
  }

  .intro__section{
    padding: 100px 30px;
    margin-top: -540px;
  }

  .dashboard{
    margin-top: -900px;
    height: 470px;
  }

  .duty__para{
    font-size: 12px;
    line-height: 25px;
  }

  .slider{
    padding: 0 30px;
  }

  .last__section{
    height: 530px;
    padding: 50px 50px;
  }

  .last__section h2{
    font-size: 20px;
    line-height: 35px;
  }

  .last__section p{
    font-size: 12px;
    line-height: 30px;
    width: 80%;
  }

  .last__section button{
    width: 90px;
    height: 50px;
    font-size: 12px;
  }

  .mobile__dashboard{
    height: 250px;
    margin-top: 5px;
  }

  .mobile__dashboard .mobile{
    height: 201px;
    margin-top: 35px;
  }

  footer{
    flex-direction: column;
    justify-content: center;
    top: 1940px;
    padding-top: 100px;
  }

  footer p{
    font-size: 10px;
    line-height: 30px;
  }

  footer .icon .icon__wrap{
    width: 25px;
    height: 25px;
  }

  footer .icon .icon__wrap i{
    font-size: 12px;
  }
}