.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.intro__wrap {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 29px 89px;
  background: #0c46d3;
  color: #ffffff;
}

.intro__wrap h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  letter-spacing: 0.5em;
}

.intro {
  position: absolute;
  top: 30%;
}

.intro p {
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  width: 488px;
  height: 110px;
  margin-bottom: 84px;
}

.intro .img__wrap {
  display: flex;
  align-items: center;
  gap: 11px;
}

.img__wrap span {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.form__wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  height: 100vh;
  padding: 0 0 0 91px;
}
