.resetpass__intro {
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  color: #000000;
  margin: 0;
}

.resetpass__desc {
  width: 360px;
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 24px 0;
}

.resetpass__form__wrap form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resetpass__input {
  box-sizing: border-box;
  width: 400px;
  height: 55px;
  background: #ffffff;
  border: 1.2px solid #d0cccc;
  border-radius: 8px;
  padding: 0px 22px;
  font-weight: 450;
  font-size: 14px;
  line-height: 30px;
  color: #979797;
}

.resetpass__btn {
  box-sizing: border-box;
  width: 400px;
  height: 55px;
  background: #0c46d3;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.resetpass__btn:hover {
  background: #104de8;
}

.resetpass__to__start {
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
