@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}

a{
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 730px) {
  body{
    width: 100vw;
  }
}

@media only screen and (max-width: 660px) {
  body{
    width: 100vw;
    margin: 0 auto;
  }
}
